# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_URL=wss://ai-agent-gem9hzs6.livekit.cloud
LIVEKIT_API_KEY=APIiYEph8wQ7uFv
LIVEKIT_API_SECRET=9zfFMoc5q7tp4HfURy1X1pThkj5c1eGu0yUOcfHEC7XB


# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=https://connected-vector-k46omy.sandbox.livekit.io
